
/*Cambiar color menú nav*/
nav.bg-body-tertiary {
    background-color: black !important;
}

div.menu a{
    padding: 15px;
    margin: 15px;
}

a.nav-link {
    color: #f8f7f5;
    background-color: #ffc107;
}

a.nav-link:hover{
    color: black;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 20px;
}

h1 {
    text-align: center;
    background-color: #ffc107;
}

h5 {
    color: orangered !important;
}

p.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    color: orangered !important;
}

.titulofooter {
    color: #ffc107 !important;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

button {
    color: white !important;
}

.btn-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
}

/*formulario*/

form{
    width: 25%;
    padding: 3%;
    border-radius: 10px;
    margin: auto;
    background-color: #f7c94a;
}

div.formularioContacto{
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    margin-bottom: 12px;
}

.login{
    border: 1px solid black;
    padding: 15px 5px;
    margin-bottom: 10px;
}

fieldset, input{
    margin-bottom: 12px;
}

fieldset{
    border: 1px solid black !important;
}

@media(max-width: 650px){
form{
    width: 80%;
}
}

h2.tituloFormulario{
    text-align: center;
}

/*Página de información*/

.tituloE{
    text-align: center;
}

.tituloD{
    text-align: center;
}

.table-container {
    margin: 20px auto;
    width: 80%;
}

.btn-volver {
    margin-top: 20px;
    background-color: orangered !important;
    border-color: black !important;
}